/* This is for your profile title name */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>section>div.container-1CH86i>div.avatarWrapper-12uuu4.withTagAsButton-2_JkHX>div.nameTag-2Q56-H.canCopy-rj-Am8>div.panelTitleContainer-12zYUy>div {
    transition: 0.3s all;
    color: #ff00ff;
}

/* This is for your profile under custom status */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>section>div.container-1CH86i>div.avatarWrapper-12uuu4.withTagAsButton-2_JkHX>div.nameTag-2Q56-H.canCopy-rj-Am8>div.panelSubtextContainer-30etH9>div>div {
    transition: 0.3s all;
    color: rgb(3, 211, 37);
}

/* The Top Color of a discord server channel */
#channels>ul>li:nth-child(3) {
    background-color: #6000ff;
}

/* Everything gets transition lol (almost no effect) */
#body {
    transition: 4s all;
}

/* This is the color for the side of where the user profile on the right is */
.overlayBackground-2aa7wt {
    color: #eb0000;
    border-radius: 10px;
    /* background-color: rgb(0, 0, 0); */
}


div.customStatus-1KW6v {
    color: rgb(0, 255, 0);
}

.userPanelOverlayBackground-3Zmcq2_overlayBackground-2aa7wt {
    color: yellow;
}

/* This is for your hovered userID Element */
#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>section>div.container-YkUktl>div.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L {
    transition: 0.3s all;
    border-color: #0084ff;
    border-radius: 10px;
    border: 3px solid;
    overflow: hidden;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>section>div.container-YkUktl>div.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L:hover {
    transition: 0.3s all;
    background-color: #0084ff;
    border-radius: 10px;
    border: 3px solid;
    overflow: hidden;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>section>div.container-YkUktl>div.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L:active {
    transition: 0.3s all;
    background-color: #0084ff;
    border-radius: 10px;
    border: 4px solid;
    overflow: hidden;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div:nth-child(3)>div.layer-fP3xEz>div>div>div>div>div.userProfileModalOverlayBackground-2dAaBg.overlayBackground-2aa7wt>div>div.container-3g15px>div:nth-child(3)>div>div {
    background-color: #00000071;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div:nth-child(3)>div.layer-fP3xEz>div>div>div>div>div.userProfileModalOverlayBackground-2dAaBg.overlayBackground-2aa7wt>div>div.container-3g15px {
    z-index: 20001;
}

.body-1Ukv50 {
    display: flex;
    flex: max-content;
}

.overlayBackground-2aa7wt {
    background-color: rgba(0, 0, 0, 0.596);
}

/* ------------------------------------------------------------------- */

/* -- */
.userTagUsernameBase__75fb1::after {
    color: white;
    content: " //";
}

/* Jump to present bar background color --*/
.jumpToPresentBar__0ff7f.barBase__4e0ba {
    background-color: rgb(0, 170, 255);
}

/* Below the send messages portion --*/
.form__13a2c {
    background-color: rgba(78, 211, 255, 0.359);
}

/* -- */
.form__13a2c:before {
    display: none;
}

/* Creates the rainbow name template for the element below --*/
.userTagUsernameBase__75fb1 {
    font: 800 40px Arial;
    /* padding-left: 20px; */
    font-style: italic;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    font-weight: bold;
    color: white;
    animation: switchColor;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width: 655px;
    margin: auto;
}

/* Loops the rainbow name element for the name with // --*/
.discriminator_a801dd {
    font: 800 40px Arial;
    /* padding-left: 20px; */
    font-style: italic;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    font-weight: bold;
    color: white;
    animation: switchColor;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width: 655px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Rainbow flow color set of frames */
@keyframes switchColor {
    7.14% {
        text-shadow: 1px 1px rgb(255, 0, 0);
    }

    14.28% {
        text-shadow: 2px 2px rgb(255, 175, 0);
    }

    21.42% {
        text-shadow: 2px 2px rgb(255, 255, 0);
    }

    28.56% {
        text-shadow: 2px 2px rgb(0, 255, 0);
    }

    35.7% {
        text-shadow: 2px 2px rgb(0, 0, 255);
    }

    42.84% {
        text-shadow: 3px 3px rgb(111, 0, 255);
    }

    49.98% {
        text-shadow: 3px 3px rgb(234, 0, 255);
    }

    57.12% {
        text-shadow: 3px 3px rgb(255, 0, 0);
    }

    64.26% {
        text-shadow: 3px 3px rgb(255, 175, 0);
    }

    71.4% {
        text-shadow: 2px 2px rgb(255, 255, 0);
    }

    78.54% {
        text-shadow: 2px 2px rgb(0, 255, 0);
    }

    85.68% {
        text-shadow: 2px 2px rgb(0, 0, 255);
    }

    92.82% {
        text-shadow: 2px 2px rgb(111, 0, 255);
    }

    100% {
        text-shadow: 2px 2px rgb(234, 0, 255);
    }
}

/* color for all lettering with peoples profile element */
.defaultColor-1EVLSt {
    color: #008cff;
    text-shadow: 1.5px 1.5px 1px black;
}

/* color of the custom status --*/
.customStatus_f55604 {
    box-sizing: border-box;
    width: 100%;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 18px;
    color: purple;
    text-shadow: 1px 1px purple;
    position: relative;
}

/* This is the border and color for the chat of messages --*/
.markup_a7e664 {
    background-color: #000000;
    color: #ff0000;
    border-radius: 20px;
    border-color: #8c00ff;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    font-weight: 900;
}

/* potential to change the color of the words responses of messages
.markup-eYLPri {
    color: yellow;
} */

/* -- */
.textArea__74543.textAreaSlate_e0e383.slateContainer_b692b3 {
    color: #00ff40;
    left: auto;
}

/* ??? */
body:has(.textArea__74543:hover) .placeholder_e68c63AX {
    animation: turnToBlueAndBack;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes turnToBlueAndBack {
    0% {
        transition: 1s;
        color: #fbff00;
    }
}

/* -- */
.placeholder_e68c63::before {
    color: #00ffaa;
}

/* background for your messages to people --*/
.messagesWrapper_ea2b0b {
    background-color: #0084ff79;
    /* border-radius: 20px; */
}

.username-h_Y3Us {
    color: #0084ff;
    background-color: #000000;
    border-radius: 10px;
    padding-inline: 10px;
}

#chat-messages {
    background-color: #80ff00;
    /* background-color: #0084ff8c; */
}

/* -- */
.username_d30d99::after {
    color: #0084ff;
    background-color: #000000;
    content: " |←";
    padding-right: 5px;
    border: 0px solid #000;
    /* padding-left: 5px; */
    border-radius: 20px;
}

/* -- */
.username_d30d99::before {
    color: #0084ff;
    background-color: #000;
    content: "→| ";
}

/* Behind the names in messages */
.header_c65767 {
    background-color: #ff00ffbf;
    border-radius: 10px;
}






.textArea__74543 {
    width: 100vw;
    height: 100%;
    background-color: #00a6ff85;
}

.placeholder_e68c63 {
    font-size: 0px;
    width: 100%;
    /* height: 100%; */
}

.editor__66464 {
    background-color: #0084ff79;
    height: fit-content;
    border-radius: 0px;
}









/* -- */
/* ^ Height of the Chat input */
.channelTextArea__2e60f {
    height: 35px;
}

/* -- */
.root_ba16f0 {
    height: max-content;
}

.listScroller__92e1a thin_b1c063 scrollerBase_dc3aa9 fade_ba0fa0 {
    height: max-content;
}

.userProfileModalOuter__3fe6b {
    height: 90vh;
}

.userProfileModalOverlayBackground__52d65 {
    height: 90vh;
}

.body_ea740e {
    /* height: 100vh; */
    /* padding-top: 10vh; */
    /* position: relative; */
    flex: 0 1 auto;
}

.username_d30d99 {
    color: #0084ff;
    background-color: #000000;
}

/* The "-" That goes in-between name and text and the one below this one*/
.headerText_f47574 {
    content: " -->";
    line-height: 1.4em;
    font-size: 20px;
    display: inline-block;
    border: 2px solid #000;
    font-size: 21px;
    white-space: nowrap;
    transform: translateY(16.5px);
    /* transform: translateY(15px); */
    width: 100px;
    /* Set the width of your rectangle */
    height: 8px;
    /* Set the height of your rectangle */
}

.headerText_f47574::after {
    /* content: " -->"; */
    font-size: 20px;
    font-size: 16px;
    /* left: 2000px; */
    transform: scaleX(20000px);
    white-space: nowrap;
    width: 100px;
    /* Set the width of your rectangle */
    height: 1px;
    /* Set the height of your rectangle */
}


#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div:nth-child(4)>div.layer-fP3xEz>div>div>div>div>div>div.userProfileModalOverlayBackground-2dAaBg.overlayBackground-2aa7wt>div>div.listScroller-entkMk.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG {
    padding: 10px;
    /* overflow-y: auto; */
    max-height: 43vh;
    /* padding-bottom: 20px; */
    background-color: #e100ff68;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div:nth-child(4)>div.layer-fP3xEz>div>div>div>div>div>div.userProfileModalOverlayBackground-2dAaBg.overlayBackground-2aa7wt>div {
    background-color: #c800ff79;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div:nth-child(4)>div.layer-fP3xEz>div>div>div {
    background-color: #c800ff;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div:nth-child(4)>div.layer-fP3xEz>div>div>div>div {
    top: -5px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div:nth-child(4)>div.layer-fP3xEz>div>div>div>div>div>div>div>div> {
    top: -10px;
    width: fit-content;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div:nth-child(4)>div.layer-fP3xEz>div>div>div {
    width: fit-content;
    height: fit-content;
}

#uid_17589 {
    width: 530px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div.autocomplete-3NRXG8.outerWrapper-3UdjNj>div>div.scroller-2MALzE.list-2u03C-.thin-RnSY0a.scrollerBase-1Pkza4 {
    max-height: 1000px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div.autocomplete-3NRXG8.autocomplete-3jLKbj.autocompleteAttached-bt_md- {
    width: 40%;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div.autocomplete-3NRXG8.outerWrapper-3UdjNj {
    width: 600px;
    height: 800px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div.autocomplete-3NRXG8.outerWrapper-3UdjNj>div {
    width: 600px;
    height: 800px;
}

/* ^ Buttons of Gift Discord, GIF, Sticker, and Emote */
.buttons_ce5b56 {
    padding-right: 7.5px;
}

.buttons_ce5b56>button {
    transition: 0.3s;
    background-color: #0084ff79;
    border-radius: 10px;
}

.buttons_ce5b56>button:hover {
    background-color: #0f00dde8;
}

.buttons_ce5b56>button:active {
    background-color: #8c00ff;
}

div.expression-picker-chat-input-button:nth-child(n+2) {
    transition: 0.3s;
    background-color: #0084ff79;
    border-radius: 10px;
}

div.expression-picker-chat-input-button:nth-child(n+2):hover {
    background-color: #0f00dde8;
}

div.expression-picker-chat-input-button:nth-child(n+2):active {
    background-color: #8c00ff;
}

.form-3gdLxP {
    background-color: var(--background-primary);
}

body:has(#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.chat-2ZfjoI > div.content-1jQy2l > main > form > div > div > div > div.attachWrapper-3slhXI > button > div:active) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div>div>div>div.attachWrapper-3slhXI>button {
    background-color: #8c00ff;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(6)>div>a>div>div.avatar-1HDIsL>div>svg>rect {
    position: relative;
    display: flex;
    left: 100px;
    color: #00ff40;
    background-color: #00ff40;
    padding: 100px;
}

/* This one is for the title buttons in the top right including the element below*/
#app-mount>div.typeWindows-3ILlhq.withFrame-1sEfxu.titleBar-3AIemB.withBackgroundOverride-33VjI9>div:nth-child(3),
#app-mount>div.typeWindows-3ILlhq.withFrame-1sEfxu.titleBar-3AIemB.withBackgroundOverride-33VjI9>div:nth-child(2) {
    border-bottom-right-radius: 00px;
    top: -6px;
    left: 0px;
}

#app-mount>div.typeWindows-3ILlhq.withFrame-1sEfxu.titleBar-3AIemB.withBackgroundOverride-33VjI9>div:nth-child(4) {
    top: -6px;
    left: 0px;
    background-color: #00a6ff85;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
}

/* The color of the "Find or start a conversation with line down the side" */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav {
    /* background-color: #4c00ff86; */
    padding-left: 10px;
    background-color: #ffaa00;
}

#app-mount:not(:hover) {
    animation-delay: 0.9s;
    animation: moveOutOfScreen 0.5s forwards 1, screenMAKE 35s 0.5s infinite;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#app-mount:hover {
    z-index: 1000;
    animation: moveToScreen 1s forwards;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

/* #app-mount {
    transform-style: preserve-3d;
    box-shadow: 20px 20px 20px rgba(255, 0, 0, 0.782);
    animation: screenMAKE 5s infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

#app-mount>div {
    height: calc(2% - 6px);
    width: calc(100% - 6px);
}

#app-mount {
    padding-left: 10px;
    padding-top: 16px;
    background-color: #ffaa00;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div>div>div>div>div>div>div {
    padding-top: 10px;
    background-color: #ffaa00;
    border-top-left-radius: 10px;
} */

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div>div.uploadInput-YH_iku>div {
    background-color: #00ff40;
}

#message-username-1102815552579305514>span,
#span.username {
    color: #ff0000;
}

body:has(#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil>div>div.placeholder-1rCBhr.slateTextArea-27tjG0.fontSize16Padding-XoMpjI) #app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil>div>div.markup-eYLPri.editor-H2NA06.slateTextArea-27tjG0.fontSize16Padding-XoMpjI {
    animation: shake;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

ul.content__23cab {
    height: 20px;
}

/* Selection Hover Color --*/
body:has(li.channel_c21703:nth-child(2) > div) .interactiveSelected_ec846b {
    background-color: rgb(0, 204, 255);
}

/* Select top DM color --*/
h1.defaultColor__77578 {
    color: #d0ff00;
}

body:has(#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.sidebar-1tnWFu > section > div.container-YkUktl > div.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L > div.wrapper-3Un6-K.avatar-1EWyVD > svg > foreignObject > div > div) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>nav>ul>div.scroller-3X7KbA.none-1rXy4P.scrollerBase-1Pkza4>div.tutorialContainer-1pL9QS>div>div.listItemWrapper-3d87LP>div>svg>foreignObject>div>div {
    transition: 0.1s ease-in-out;
    width: 90%;
    height: 90%;
    border-radius: 50px;
    background-color: green;
}

body:has(#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.sidebar-1tnWFu > nav > div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG > ul > li:nth-child(n+2) > div > a > div > div.avatar-1HDIsL > div > svg > svg > svg) #app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(n+2)>div {
    animation: shake;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    0% {
        background-color: #ff0000;
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    46% {
        background-color: rgb(240, 178, 50);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    86% {
        background-color: rgb(35, 165, 90);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* ------------------------------------------------------------------- */

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>aside>div>div>div>div:nth-child(2)>div:nth-child(n+3)>div {
    padding-top: 5px;
    padding-bottom: 5px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>div.messagesWrapper-RpOMA3.group-spacing-0>div>div,
#online-tab {
    background-color: #0084ff79;
}

/* body:has(#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.sidebar-1tnWFu > section > div.container-YkUktl > div.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L > div.wrapper-3Un6-K.avatar-1EWyVD > svg > foreignObject > div > div) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(6) {
    background-color: #15ff00;
} */

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>div.messagesWrapper-RpOMA3.group-spacing-0>div {
    background-color: #c61e1e;
}

/* ------------------------------------------------------------------- */

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(6)>div>a {
    flex: initial;
}

/* ---------------------FOR CLOSE HOVER DIV 6----------------------- */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(2)>div>a>div,
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(3)>div>a>div,
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(4)>div>a>div {
    margin: auto;
    text-align: center;
    /* width: 20px;
    height: 38px; */
    width: auto;
    height: auto;
    border-radius: 1px;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(n+2)>div>div>svg {
    margin: 13px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil>div>div.markup-eYLPri.editor-H2NA06.slateTextArea-27tjG0.fontSize16Padding-XoMpjI {
    position: absolute;
    padding-bottom: 11px;
    padding-top: 11px;
    border-radius: 3px;
    background-color: #0084ff;
    height: fit-content;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div {
    inline-size: fit-content;
    height: fit-content;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div {
    inline-size: fit-content;
    height: fit-content;
}

body:has(li.channel_c21703:nth-child(n+2)> div > div) li.channel_c21703:nth-child(n+2)>div:active {
    background-color: rgb(255, 247, 7);
}

body:has(li.channel_c21703:nth-child(n+2)> div > div) li.channel_c21703:nth-child(n+2)>div>div:active {
    transition: 3s all;
    background-color: rgb(255, 0, 0);
    border-width: 200px;
    width: 7000%;
    margin-top: auto;
}

body:has(li.channel_c21703:nth-child(n+2)>div) li.channel_c21703:nth-child(n+2)>div:hover {
    background-color: #ff00d0;
}

/* This element is the hover for top DM */
li.channel_c21703:nth-child(n+2)>div {
    transition: 0.3s all;
    background-color: rgb(32, 32, 32);
    color: #0084ff;
    border: 5px solid;
}

li.channel_c21703:nth-child(n+2):active {
    transition: 0.3s all;
    background-color: rgb(166, 255, 0);
    color: #000000;
    border: 5px solid;
}

/* This element is for the top DM padding size */
li.channel_c21703:nth-child(n+2) {
    transition: 0.3s all;
    border: 4px solid;
    border-radius: 10px;
    color: #000000;
    padding: 5px;
}

li.channel_c21703:nth-child(n+2):active {
    transition: 0.1s all;
    border: 4px solid;
    background-color: #ff00ff;
}

li.channel_c21703:nth-child(n+2):active {
    border: 4px solid;
    color: #ff0000;
    padding: 5px;
}

/* ------------------------------------------------------------------- */