/* This is for your profile title name */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>section>div.container-1CH86i>div.avatarWrapper-12uuu4.withTagAsButton-2_JkHX>div.nameTag-2Q56-H.canCopy-rj-Am8>div.panelTitleContainer-12zYUy>div {
    transition: 0.3s all;
    color: #ff00ff;
}

/* This is for your profile under custom status */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>section>div.container-1CH86i>div.avatarWrapper-12uuu4.withTagAsButton-2_JkHX>div.nameTag-2Q56-H.canCopy-rj-Am8>div.panelSubtextContainer-30etH9>div>div {
    transition: 0.3s all;
    color: rgb(3, 211, 37);
}

/* The Top Color of a discord server channel */
#channels>ul>li:nth-child(3) {
    background-color: #6000ff;
}

/* Everything gets transition lol (almost no effect) */
#body {
    transition: 4s all;
}

/* This is the color for the side of where the user profile on the right is */
.overlayBackground-2aa7wt {
    color: #eb0000;
    border-radius: 10px;
    /* background-color: rgb(0, 0, 0); */
}


div.customStatus-1KW6v {
    color: rgb(0, 255, 0);
}

.userPanelOverlayBackground-3Zmcq2_overlayBackground-2aa7wt {
    color: yellow;
}

/* This is for your hovered userID Element */
#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>section>div.container-YkUktl>div.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L {
    transition: 0.3s all;
    border-color: #0084ff;
    border-radius: 10px;
    border: 3px solid;
    overflow: hidden;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>section>div.container-YkUktl>div.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L:hover {
    transition: 0.3s all;
    background-color: #0084ff;
    border-radius: 10px;
    border: 3px solid;
    overflow: hidden;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>section>div.container-YkUktl>div.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L:active {
    transition: 0.3s all;
    background-color: #0084ff;
    border-radius: 10px;
    border: 4px solid;
    overflow: hidden;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div:nth-child(3)>div.layer-fP3xEz>div>div>div>div>div.userProfileModalOverlayBackground-2dAaBg.overlayBackground-2aa7wt>div>div.container-3g15px>div:nth-child(3)>div>div {
    background-color: #00000071;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div:nth-child(3)>div.layer-fP3xEz>div>div>div>div>div.userProfileModalOverlayBackground-2dAaBg.overlayBackground-2aa7wt>div>div.container-3g15px {
    z-index: 20001;
}

.body-1Ukv50 {
    display: flex;
    flex: max-content;
}

.overlayBackground-2aa7wt {
    background-color: rgba(0, 0, 0, 0.596);
}

/* ------------------------------------------------------------------- */

.userTagUsernameBase-267ALn::after {
    color: white;
    content: " //";
}

/* Jump to present bar background color */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>div.messagesWrapper-RpOMA3.group-spacing-0>div.jumpToPresentBar-1cEnH0.barBase-3xxDXu {
    background-color: rgb(0, 170, 255);
}

/* Below the send messages portion */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form {
    background-color: rgba(78, 211, 255, 0.359);
}

.form-3qe0Ni:before {
    display: none;
}

/* Creates the rainbow name template for the element below */
.userTagUsernameBase-267ALn {
    font: 800 40px Arial;
    /* padding-left: 20px; */
    font-style: italic;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    font-weight: bold;
    color: white;
    animation: switchColor;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width: 655px;
    margin: auto;
}

/* Loops the rainbow name element for the name with // */
.discriminator-hnHkyt {
    font: 800 40px Arial;
    /* padding-left: 20px; */
    font-style: italic;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    font-weight: bold;
    color: white;
    animation: switchColor;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width: 655px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Rainbow flow color set of frames */
@keyframes switchColor {
    7.14% {
        text-shadow: 1px 1px rgb(255, 0, 0);
    }

    14.28% {
        text-shadow: 2px 2px rgb(255, 175, 0);
    }

    21.42% {
        text-shadow: 2px 2px rgb(255, 255, 0);
    }

    28.56% {
        text-shadow: 2px 2px rgb(0, 255, 0);
    }

    35.7% {
        text-shadow: 2px 2px rgb(0, 0, 255);
    }

    42.84% {
        text-shadow: 3px 3px rgb(111, 0, 255);
    }

    49.98% {
        text-shadow: 3px 3px rgb(234, 0, 255);
    }

    57.12% {
        text-shadow: 3px 3px rgb(255, 0, 0);
    }

    64.26% {
        text-shadow: 3px 3px rgb(255, 175, 0);
    }

    71.4% {
        text-shadow: 2px 2px rgb(255, 255, 0);
    }

    78.54% {
        text-shadow: 2px 2px rgb(0, 255, 0);
    }

    85.68% {
        text-shadow: 2px 2px rgb(0, 0, 255);
    }

    92.82% {
        text-shadow: 2px 2px rgb(111, 0, 255);
    }

    100% {
        text-shadow: 2px 2px rgb(234, 0, 255);
    }
}

/* color for all lettering with peoples profile element */
.defaultColor-1EVLSt {
    color: #008cff;
    text-shadow: 1.5px 1.5px 1px black;
}

/* color of the custom status */
.customStatus-19KW6v {
    box-sizing: border-box;
    width: 100%;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 18px;
    color: purple;
    text-shadow: 1px 1px purple;
    position: relative;
}

/* This is the border and color for the bio of users */
.markup-eYLPri {
    background-color: #000000;
    color: #ff0000;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-color: #8c00ff;
    font-weight: 900;
}

/* potential to change the color of the words responses of messages
.markup-eYLPri {
    color: yellow;
} */

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div>div>div.chatContainer-2XIz4Y>main>form>div>div>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil {
    color: #00ff40;
    left: auto;
}

body:has(#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.chat-2ZfjoI > div.content-1jQy2l > main > form > div > div > div > div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil:hover) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div>div>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil>div>div.placeholder-1rCBhr.slateTextArea-27tjG0.fontSize16Padding-XoMpjI {
    animation: turnToBlueAndBack;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes turnToBlueAndBack {
    0% {
        transition: 1s;
        color: #fbff00;
    }
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div>div>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil>div>div.markup-eYLPri.editor-H2NA06.slateTextArea-27tjG0.fontSize16Padding-XoMpjI {
    color: #9900ff;
    position: relative;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div>div>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil>div>div.markup-eYLPri.editor-H2NA06.slateTextArea-27tjG0.fontSize16Padding-XoMpjI::before {
    color: #00ffaa;
}

/* background for your messages to people */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>div.messagesWrapper-RpOMA3.group-spacing-0 {
    background-color: #0084ff79;
    /* border-radius: 20px; */
    left: 1px;
}

.username-h_Y3Us {
    color: #0084ff;
    background-color: #000000;
    border-radius: 10px;
    padding-inline: 10px;
}

/* The "-" That goes in-between name and text and the one below this one*/
#chat-messages {
    background-color: #0084ff;
    /* background-color: #0084ff8c; */
}

/* ??? Wish this time element worked */
/* .separator-AebOhG
{
    color: black;
    border-color: #00ff40;
    border-width: 20px;
    content: " ←|";
} */

.username-h_Y3Us::after {
    color: #0084ff;
    background-color: #000000;
    content: " |←";
}

.username-h_Y3Us::before {
    color: #0084ff;
    background-color: #000000;
    content: "→| ";
}

/* Behind the names in messages */
.header-2jRmjb {
    background-color: #ff00ffbf;
    border-radius: 10px;
}

/* ^ Height of the Chat input */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div {
    height: 25px;
}



#app-mount > div.appAsidePanelWrapper-VeklAl > div.notAppAsidePanel-1yXaPq > div:nth-child(4) > div.layer-fP3xEz > div > div > div > div > div > div.userProfileModalOverlayBackground-2dAaBg.overlayBackground-2aa7wt > div > div.listScroller-entkMk.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG
{
    height: auto;
    align-items: stretch;
    height: 40vh;
    height: fit-content;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div:nth-child(4)>div.layer-fP3xEz>div>div>div>div>div>div.userProfileModalOverlayBackground-2dAaBg.overlayBackground-2aa7wt>div>div.listScroller-entkMk.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG {
    padding: 10px;
    overflow-y: auto;
    max-height: 100vh;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div:nth-child(4)>div.layer-fP3xEz>div>div>div>div {
    top: -5px;
}


/* #app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div:nth-child(4)>div.layer-fP3xEz>div>div>div>div>div {
    width: 90px;
    height: 900px;
} */

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div:nth-child(4)>div.layer-fP3xEz>div>div>div>div>div>div>div>div> {
    top: -10px;
    width: fit-content;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div:nth-child(4)>div.layer-fP3xEz>div>div>div {
    width: fit-content;
    height: fit-content;
}









#uid_17589 {
    width: 530px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div.autocomplete-3NRXG8.outerWrapper-3UdjNj>div>div.scroller-2MALzE.list-2u03C-.thin-RnSY0a.scrollerBase-1Pkza4 {
    max-height: 1000px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div.autocomplete-3NRXG8.autocomplete-3jLKbj.autocompleteAttached-bt_md- {
    width: 40%;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div.autocomplete-3NRXG8.outerWrapper-3UdjNj {
    width: 600px;
    height: 800px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div.autocomplete-3NRXG8.outerWrapper-3UdjNj>div {
    width: 600px;
    height: 800px;
}


/* ^ Buttons of Gift Discord, GIF, Sticker, and Emote */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div>div.buttons-uaqb-5 {
    /* background-color: #0084ff; */
    padding-right: 10px;
    left: 10px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div>div.buttons-uaqb-5>button {
    transition: 0.3s;
    background-color: #0084ff79;
    border-radius: 10px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div>div.buttons-uaqb-5>button:hover {
    background-color: #0f00dde8;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div>div.buttons-uaqb-5>button:active {
    background-color: #8c00ff;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div>div.buttons-uaqb-5>div:nth-child(n+1) {
    transition: 0.3s;
    background-color: #0084ff79;
    border-radius: 10px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div>div.buttons-uaqb-5>div:nth-child(n+1):hover {
    background-color: #0f00dde8;
}

.form-3gdLxP {
    background-color: var(--background-primary);
}


body:has(#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.chat-2ZfjoI > div.content-1jQy2l > main > form > div > div > div > div.attachWrapper-3slhXI > button > div:active) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div>div>div>div.attachWrapper-3slhXI>button {
    background-color: #8c00ff;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(6)>div>a>div>div.avatar-1HDIsL>div>svg>rect {
    position: relative;
    display: flex;
    left: 100px;
    color: #00ff40;
    background-color: #00ff40;
    padding: 100px;
}

/* body {
    background:
        linear-gradient(90deg, transparent 50%, rgba(255, 0, 191, 0.6) 50%),
        linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 145, 0, 0.6)),
        linear-gradient(0deg, transparent 50%, rgba(0, 0, 0, 0.6) 50%);

    background-size: 100px 100px;
} */

body::before,
body::after {
    background-image: url('https://i.ibb.co/KGSyhR9/image-12.png');
    content: "owo";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    display: block;
    position: absolute;
    transform-origin: center center;
    transform-style: preserve-3d;
}

body {
    background:
        repeating-linear-gradient(0deg, transparent, transparent 15px, rgb(123, 28, 28, 0.8) 95px, rgb(0, 0, 0) 100px),
        repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(123, 28, 28, 0.8) 95px, rgb(0, 0, 0) 100px);
}


/* & Custom discord top left icon*/
#app-mount>div.typeWindows-3ILlhq.withFrame-1sEfxu.titleBar-3AIemB.withBackgroundOverride-33VjI9>div {
    /* padding-bottom: 10px; */
    top: 14px;
    left: 10px;
    background-color: #00a6ff85;
    border-bottom-right-radius: 10px;
}

/* This one is for the title buttons in the top right including the element below*/
#app-mount>div.typeWindows-3ILlhq.withFrame-1sEfxu.titleBar-3AIemB.withBackgroundOverride-33VjI9>div:nth-child(3),
#app-mount>div.typeWindows-3ILlhq.withFrame-1sEfxu.titleBar-3AIemB.withBackgroundOverride-33VjI9>div:nth-child(2) {
    border-bottom-right-radius: 00px;
    top: -6px;
    left: 0px;
}

#app-mount>div.typeWindows-3ILlhq.withFrame-1sEfxu.titleBar-3AIemB.withBackgroundOverride-33VjI9>div:nth-child(4) {
    top: -6px;
    left: 0px;
    background-color: #00a6ff85;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
}

/* The color of the "Find or start a conversation with line down the side" */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav {
    /* background-color: #4c00ff86; */
    padding-left: 10px;
    background-color: #ffaa00;
}

#app-mount:not(:hover) {
    animation-delay: 0.9s;
    animation: moveOutOfScreen 0.5s forwards 1, screenMAKE 15s 0.5s infinite;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#app-mount:hover {
    z-index: 1000;
    animation: moveToScreen 1s forwards;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

#app-mount {
    /* top: 100px;
    left: 20px; */
    transform-style: preserve-3d;
    box-shadow: 20px 20px 20px rgba(255, 0, 0, 0.782);
    animation: screenMAKE 5s infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: transform 0.5s;
    /* transform: perspective(10000px) rotateX(4deg) rotateY(4deg) translateZ(-600px) translateY(-200px); */
    transform-style: preserve-3d;
}

#app-mount>div {
    height: calc(2% - 6px);
    width: calc(100% - 6px);
}

#app-mount {
    padding-left: 10px;
    padding-top: 16px;
    background-color: #ffaa00;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div>div>div>div>div>div>div {
    padding-top: 10px;
    background-color: #ffaa00;
    border-top-left-radius: 10px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div>div.uploadInput-YH_iku>div {
    background-color: #00ff40;
}

#message-username-1102815552579305514>span,
#span.username {
    color: #ff0000;
}

body:has(#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil>div>div.placeholder-1rCBhr.slateTextArea-27tjG0.fontSize16Padding-XoMpjI) #app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil>div>div.markup-eYLPri.editor-H2NA06.slateTextArea-27tjG0.fontSize16Padding-XoMpjI {
    animation: shake;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul {
    height: 20px;
}

/* Selection Hover Color */
body:has(#app-mount > div.appAsidePanelWrapper-VeklAl > div.notAppAsidePanel-1yXaPq > div.app-1BipOi > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.sidebar-1tnWFu > nav > div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG > ul > li:nth-child(6) > div) .interactiveSelected-29CP8y {
    background-color: rgb(0, 204, 255);
}

/* Select top DM color */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>section>div>div.children-3xh0VB>div.titleWrapper-24Kyzc>h1 {
    color: #d0ff00;
}

body:has(#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.sidebar-1tnWFu > section > div.container-YkUktl > div.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L > div.wrapper-3Un6-K.avatar-1EWyVD > svg > foreignObject > div > div) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>nav>ul>div.scroller-3X7KbA.none-1rXy4P.scrollerBase-1Pkza4>div.tutorialContainer-1pL9QS>div>div.listItemWrapper-3d87LP>div>svg>foreignObject>div>div {
    transition: 0.1s ease-in-out;
    width: 90%;
    height: 90%;
    border-radius: 50px;
    background-color: green;
}

body:has(#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.sidebar-1tnWFu > nav > div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG > ul > li:nth-child(n+2) > div > a > div > div.avatar-1HDIsL > div > svg > svg > svg) #app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(n+2)>div {
    animation: shake;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes moveOutOfScreen {
    0% {
        transform: perspective(2000%) rotateX(4deg) rotateY(4deg) translateX(0) translateY(00px) translateZ(-600px);
    }

    20% {
        transform: perspective(2000px) rotateX(4deg) rotateY(4deg) translateX(0) translateY(-940px) translateZ(-50000px);
    }

    100% {
        transform: perspective(2000px) rotateX(4deg) rotateY(4deg) translateX(0) translateY(-35px) translateZ(-630px);
    }
}

@keyframes moveToScreen {

    0% {
        transform: perspective(2000px) rotateX(4deg) rotateY(4deg) translateX(0) translateY(-200px) translateZ(-600px);
    }

    5% {
        transform: perspective(2000px) rotateX(4deg) rotateY(4deg) translateX(0) translateY(0px) translateZ(-500px);
    }

    100% {
        transform: perspective(2000%) rotateX(5deg) rotateY(4deg) translateX(0) translateY(-200px) translateZ(-200px);
    }
}

/* & || X || Moves the element left and right (adding negative will move it to the left and positive will move it to the right)*/
/* & || Y || Moves the element up and down (adding negative will move it up and positive will move it down)*/
/* & || Z || Moves the element forward and backwards (adding negative will move it farther and positive will move it closer)*/

@keyframes screenMAKE {

    0%,
    100% {
        transform: perspective(2000px) rotateX(4deg) rotateY(10deg) translateX(0) translateY(-200px) translateZ(-600px);
        top: 100px;
        left: 120px;
    }

    12.5% {
        transform: perspective(2000px) rotateX(4deg) rotateY(10deg) translateX(50px) translateY(-250px) translateZ(-600px);
        top: 100px;
        left: 120px;
    }

    25% {
        transform: perspective(2000px) rotateX(4deg) rotateY(10deg) translateX(100px) translateY(-200px) translateZ(-600px);
        top: 100px;
        left: 120px;
    }

    37.5% {
        transform: perspective(2000px) rotateX(4deg) rotateY(10deg) translateX(50px) translateY(-150px) translateZ(-600px);
        top: 100px;
        left: 120px;
    }

    50% {
        transform: perspective(2000px) rotateX(4deg) rotateY(10deg) translateX(0) translateY(-200px) translateZ(-600px);
        top: 100px;
        left: 120px;
    }

    62.5% {
        transform: perspective(2000px) rotateX(4deg) rotateY(10deg) translateX(-50px) translateY(-250px) translateZ(-600px);
        top: 100px;
        left: 120px;
    }

    75% {
        transform: perspective(2000px) rotateX(4deg) rotateY(10deg) translateX(-100px) translateY(-200px) translateZ(-600px);
        top: 100px;
        left: 120px;
    }

    87.5% {
        transform: perspective(2000px) rotateX(4deg) rotateY(10deg) translateX(-50px) translateY(-150px) translateZ(-600px);
        top: 100px;
        left: 120px;
    }
}


@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    0% {
        background-color: #ff0000;
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    46% {
        background-color: rgb(240, 178, 50);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    86% {
        background-color: rgb(35, 165, 90);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* ------------------------------------------------------------------- */

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>aside>div>div>div>div:nth-child(2)>div:nth-child(n+3)>div {
    padding-top: 5px;
    padding-bottom: 5px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>div.messagesWrapper-RpOMA3.group-spacing-0>div>div,
#online-tab {
    background-color: #0084ff79;
}

/* body:has(#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.sidebar-1tnWFu > section > div.container-YkUktl > div.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L > div.wrapper-3Un6-K.avatar-1EWyVD > svg > foreignObject > div > div) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(6) {
    background-color: #15ff00;
} */

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>div.messagesWrapper-RpOMA3.group-spacing-0>div {
    background-color: #c61e1e;
}

/* ------------------------------------------------------------------- */

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(6)>div>a {
    flex: initial;
}

/* ---------------------FOR CLOSE HOVER DIV 6----------------------- */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(2)>div>a>div,
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(3)>div>a>div,
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(4)>div>a>div {
    margin: auto;
    text-align: center;
    /* width: 20px;
    height: 38px; */
    width: auto;
    height: auto;
    border-radius: 1px;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(n+2)>div>div>svg {
    margin: 13px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil>div>div.markup-eYLPri.editor-H2NA06.slateTextArea-27tjG0.fontSize16Padding-XoMpjI {
    position: absolute;
    padding-bottom: 11px;
    padding-top: 11px;
    border-radius: 3px;
    background-color: #0084ff;
    height: fit-content;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-9g_3Xj>div.content-18rAwf>div>div.chatContainer-2XIz4Y>main>form>div>div>div {
    inline-size: fit-content;
    height: fit-content;
}

body:has(#app-mount > div.appAsidePanelWrapper-VeklAl > div.notAppAsidePanel-1yXaPq > div.app-1BipOi > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div > nav > div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG > ul > li:nth-child(n+2)> div > div) #app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(n+2)>div:active {
    background-color: rgb(255, 247, 7);
}

body:has(#app-mount > div.appAsidePanelWrapper-VeklAl > div.notAppAsidePanel-1yXaPq > div.app-1BipOi > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div > nav > div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG > ul > li:nth-child(n+2)> div > div) #app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(n+2)>div>div:active {
    transition: 3s all;
    background-color: rgb(255, 0, 0);
    border-width: 200px;
    width: 7000%;
    margin-top: auto;
}

body:has(#app-mount > div.appAsidePanelWrapper-VeklAl > div.notAppAsidePanel-1yXaPq > div.app-1BipOi > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div > nav > div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG > ul > li:nth-child(n+2)> div) #app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(n+2)>div:hover {
    background-color: #ff00d0;
}

/* This element is the hover for top DM */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(n+2)>div {
    transition: 0.3s all;
    background-color: rgb(32, 32, 32);
    color: #0084ff;
    border: 5px solid;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(n+2)>div:active {
    transition: 0.3s all;
    background-color: rgb(166, 255, 0);
    color: #000000;
    border: 5px solid;
}

/* This element is for the top DM padding size */
#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(n+2) {
    transition: 0.3s all;
    border: 4px solid;
    border-radius: 10px;
    color: #000000;
    padding: 5px;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(n+2):active {
    transition: 0.1s all;
    border: 4px solid;
    background-color: #ff00ff;
}

#app-mount>div.appAsidePanelWrapper-VeklAl>div.notAppAsidePanel-1yXaPq>div.app-1BipOi>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(n+2):active {
    border: 4px solid;
    color: #ff0000;
    padding: 5px;
}

/* ------------------------------------------------------------------- */